<h1>Add New Patient Information</h1>
<%= link_to "Patient Index (training data)", patients_path %></br>

<% if @prediction %>
  <h3>Patient recommended for TKA? => <%= @prediction %></h3>
<% end  %>

<table>
<%= form_for @patient, action: "predict" do |f| %>
  <tr>
    <th><%= label_tag "K (must be odd number!):" %></th>
    <th><%= number_field_tag :k %></th>
  </tr>
  <tr>
    <th><%= f.label :age %></th>
    <th><%= f.number_field :age %></th>
  </tr>
  <tr>
    <th><%= f.label "Pain level(0-10)" %></th>
    <th><%= f.number_field :pain_level %></th>
  </tr>
  <tr>
    <th><%= f.label "Bodyweight(pounds)" %></th>
    <th><%= f.number_field :bodyweight %></th>
  </tr>
  <tr>
    <th><%= f.label "Knee AROM - total arc" %></th>
    <th><%= f.number_field :knee_AROM %></th>
  </tr>
  <tr>
    <th colspan=2><%= f.submit "Make Prediction"%></th>
  </tr>
<% end  %>
</table>
